name: doit
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  auto_size_text: ^3.0.0
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  riverpod_lint: ^3.0.3
  custom_lint: ^0.8.0
  change_app_package_name: ^1.5.0

flutter:
  uses-material-design: true
